@theme "~/.config/rofi/_dark.rasi"

// Config //
configuration {
    modi:                        "drun,filebrowser,window,run";
    show-icons:                  true;
    display-drun:                " ";
    display-run:                 " ";
    display-filebrowser:         " ";
    display-window:              " ";
    drun-display-format:         "{name}";
    window-format:               "{w}{t}";
    font:                        "JetBrainsMono Nerd Font 12";
}

// Main //
window {
    height:                      21.5em;
    width:                       20em;
    transparency:                "real";
    fullscreen:                  false;
    enabled:                     true;
    cursor:                      "default";
    spacing:                     0em;
    padding:                     0em;
    border-color:                @fg;
    border-radius:               0em;
    border:                      0.05em;
}
mainbox {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0em;
    orientation:                 vertical;
    children:                    [ "choicebox" , "listbox" ];
    background-color:            @bg;
}

choicebox {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0em;
    orientation:                 vertical;
    children:                    [ "mode-switcher", "searchbox" ];
    background-color:            transparent;
    expand:                      false;
}

searchbox {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0em;
    orientation:                 horizontal;
    children:                    [ "icon-cc", "inputbar" ];
    background-color:            transparent;
    expand:                      false;
}

// Inputs //
inputbar {
    enabled:                     true;
    width:                       18.5em;
    padding:                     0em;
    spacing:                     0em;
    children:                    [  "entry" ];
    background-color:            transparent;
    expand:                      true;
}

icon-cc {
    expand:                      false;
    padding: 0;
    filename: "yorha.png";
    size: 30;
    text-color:                  @bg;
    background-color:            @gray;
    horizontal-align:            0.5;
    vertical-align:              0.5;
}

entry {
    enabled:                     true;
    text-color:                  @bg;
    background-color:            @gray;
    vertical-align:              0.5;
    placeholder:                 "";
}
prompt {
    vertical-align:              0.5;
    text-color:                  @red;
    background-color:            @gray;
    padding:                     0 1em 0 7px;
}

// Modes //
mode-switcher {
    enabled:                     true;
    width:                       15em;
    orientation:                 horizontal;
    spacing:                     0em;
    background-color:            transparent;
    expand:                      false;
    border:                      0 0 0.1em 0;

}
button {
    padding:                     0em;
    cursor:                      pointer;
    border-radius:               0em;
    background-color:            @bg;
    text-color:                  @fg;
}
button selected {
    background-color:            @fg;
    text-color:                  @bg;
//  border:                      0 0 0.1em 0;
    border-color:                @red;
    border-radius:               0;
}


// Lists //
listbox {
    padding:                     0em;
    spacing:                     0em;
    orientation:                 vertical;
    children:                    [ "dummy" , "listview" , "dummy" ];
    background-color:            transparent;
    background-color:            @fg;
}

dummy { background-color:            transparent; }

listview {
    padding:                     0em;
    spacing:                     0em;
    enabled:                     true;
    columns:                     2;
    lines:                       12;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    expand:                      false;
    fixed-height:                true;
    fixed-columns:               true;
    cursor:                      "default";
    background-color:            transparent;
    text-color:                  @bg;
}


// Elements //
element {
    orientation:                 horizontal;
    enabled:                     true;
    padding:                     5px;
    cursor:                      pointer;
    background-color:            @fg;
    text-color:                  @bg;
    orientation:                 horizontal;
}
element selected.normal {
    background-color:            @bg;
    text-color:                  @fg;
    border-radius:               0em;
}
element-icon {
    size:                        1em;
    cursor:                      inherit;
    background-color:            transparent;
}
element-text {
    vertical-align:              0.5;
    horizontal-align:            0;
    cursor:                      inherit;
    text-color:                  inherit;
    background-color:            transparent;
}
