@import "_dark.rasi"

* {
    font: "JetBrains Mono Nerd Font 12";
}

configuration {
    show-icons:                 false;
}

/*****----- Main Window -----*****/
window {
    width:                       20em;
    height:                      21.5em;
    x-offset:                    0px;
    y-offset:                    0px;
    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      0.06em;
    border-color:                @fg;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     0px;
    background-color:            @bg;
    children:                    [ "infobox", "optionbox" ];
}


infobox {
    enabled:                     true;
    spacing:                     0em;
    padding:                     0em;
    orientation:                 horizontal;
    children:                    [ "inputbar" ];
    background-color:            transparent;
    expand:                      false;
    border:                      1px;
    border-color:                @gray;
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     15px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px;
    border-radius:               0px;
    text-color:                  @fg;
    background-color:            @bg;
    children:                    [ "textbox-prompt-colon", "prompt"];
}

textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         " ";
    width:                       2em;
    border-radius:               0px;
    background-color:            @red;
    text-color:                  @bg;
    horizontal-align:            0.5;
    vertical-align:              0.5;
}
prompt {
    enabled:                     true;
    padding:                     5px;
    border-radius:               0px;
    background-color:            @bg;
    text-color:                  @fg;
}

optionbox {
    orientation:                 vertical;
    children:                    [  "listview", "icon-cc" ];
    background-color:            @gray;
}

ic { 
    expand:                      true;
    str:                         " ";
    border-radius:               0px;
    padding:                     0 1em 0 7px;
    background-color:            @blue;
    text-color:                  @blue;
    horizontal-align:            0.5;
    vertical-align:              0.5;
    children: ["textbox-cc"];
}
icon-cc {
    expand:                      true;
    padding: 0;
    filename: "yorha.png";
    size: 225;
    text-color:                  @bg;
    background-color:            @gray;
    horizontal-align:            0.5;
    vertical-align:              0.5;
}

listview {
    enabled:                     true;
    expand:                      true;
    columns:                     1;
    lines:                       6;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    cursor:                      "default";
    background-color:            @fg;
    text-color:                  @bg;
    margin: 0 0 0 0;
}

element {
    orientation:                 horizontal;
    enabled:                     true;
    padding:                     5px;
    cursor:                      pointer;
    background-color:            @fg;
    text-color:                  @bg;
    orientation:                 horizontal;
}
element selected.normal {
    background-color:            @bg;
    text-color:                  @fg;
    border-radius:               0em;
}
element-icon {
    size:                        1em;
    cursor:                      inherit;
    background-color:            transparent;
}
element-text {
    vertical-align:              0.5;
    horizontal-align:            0;
    cursor:                      inherit;
    text-color:                  inherit;
    background-color:            transparent;
}
