@import "_dark.css";

* {
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 13px;
    font-weight: 800;
    border-radius: 0;
}

/* ------ Cpu Usage, Temperature, and Memory ------ */
#window {
    color: @bg;
    background-color: @fg;
    padding-right: 4px;
    border: none;
}

window#waybar {
    background-color: transparent;
}
#waybar > box {
    margin: 4px 7px 5px 7px;
    background-color: @fg;
    box-shadow: 3px 3px 0px @bg-1;
}

#window {
    padding-right: 10px;
}
#workspaces {
    border: none;
}
#workspaces button.embty {
    color: @bg;
}
#workspaces button {
    color: @bg;
    background-color: @fg;
}

#workspaces button:hover {
    color: @bg;
    background-color: @red;
}
#workspaces button.active {
    color: @fg;
    background-color: @bg;
}

/* ------ Pulseaudio ------ */
#pulseaudio {
    color: @bg;
    background-color: @fg;
    padding-right: 5px;
}

/* ------ Backlight ------ */
#backlight {
    color: @bg;
    background-color: @fg;
    padding-right: 5px;
}

#backlight:hover {
    text-decoration: underline;
}

/* ------ Network ------ */
#network {
    color: @bg;
    background-color: @fg;
    padding-left: 5px;
}

/* ------ Battery ------ */
#battery {
    color: @bg;
    background-color: @fg;
    padding-left: 5px;
    padding-right: 5px;
}

/* ------ Clock ------ */

#custom-clock_start {
    color: @bg;
    padding-left: 10px;
    padding-right: 10px;
    background-color: @fg;
    /* border: 1px solid @bg; */
    font-weight: bold;
    font-size: 16px;
}
#clock {
    color: @bg;
    border: none;
    padding-right: 5px;
    padding-right: 5px;
    background-color: @fg;
}
#cpu,
#temperature,
#memory {
    background-color: @fg;
}

#cpu {
    color: @bg;
}

#memory {
    color: @bg;
}

#temperature {
    color: @bg;
}

/* ------ System Tray ------ */
#tray {
    background-color: @fg;
    padding-left: 10px;
    padding-right: 10px;
}

/* ------ Custom Modules ------ */

#custom-warp_start {
    color: @bg;
    background-color: @fg;
    border: 1px solid @fg;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
#custom-warp {
    color: @bg;
    background-color: @fg;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}
#custom-nordvpn {
    color: @bg;
    background-color: @fg;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

#custom-power {
    color: @white;
    background-color: @red;
}
#custom-power:hover {
    color: @black;
    background-color: @red;
}

#custom-arch {
    color: @bg;
    background-color: @fg;
}
#custom-arch:hover {
    color: @fg;
    background-color: @bg;
    
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-notification {
    color: @bg;
    background-color: @fg;
}

#custom-empty_space {
    margin-right: 5px;
    padding-right: 0px;
    background-color: transparent;
}

#custom-border_start {
    border: none;
    font-weight: bold;
    background-color: @fg;
    border-left: 6px solid @bg-9;
    border-right: 2px solid @bg;
    margin-right: 10px;
}

#custom-bar_start {
    margin-left: 0px;
}

#custom-bar_end {
    margin-right: 0px;
}


#custom-group_start, #custom-group_end {
    color: @bg;
    background-color: @fg;
}