@import "_catppuccin_mocha.css";

* {
    padding: 0;
    margin: 0;
    font-family: "Maple Mono", "JetBrains Mono Nerd Font";
    font-size: 12px;
    margin-top: 1px;
}

/* ------ Cpu Usage, Temperature, and Memory ------ */
#cpu,
#temperature,
#memory {
    background-color: @surface1;
}

#cpu {
    color: @peach;
}

#memory {
    color: @mauve;
}

#temperature {
    color: @maroon;
}

/* ------ Window Title ------ */
#window {
    color: @green;
    background-color: @surface1;
    border-radius: 0px;
    padding-right: 4px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0px solid #ffffff;
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces button.empty {
    color: @surface2;
}
#workspaces button {
    border-radius: 0px;
    padding: 0;
    margin: 0;
    background-color: @surface1;
}

#workspaces button:hover {
    text-decoration: underline;
    color: @maroon;
}

/* ------ Pulseaudio ------ */
#pulseaudio {
    color: @peach;
    background-color: @surface1;
    padding: 2px 5px;
}

/* ------ Backlight ------ */
#backlight {
    color: @sky;
    background-color: @surface1;
    padding: 2px 5px;
}

/* ------ Network ------ */
#network {
    color: @mauve;
    background-color: @surface1;
    padding: 2px 5px;
}

/* ------ Battery ------ */
#battery {
    color: @maroon;
    background-color: @surface1;
    padding: 2px 5px;
}

/* ------ Clock ------ */
#clock {
    padding-left: 10px;
    color: @text;
    border-radius: 0px;
    background-color: @surface1;
    font-weight: bold;
    font-size: 12px;
}

/* ------ System Tray ------ */
#tray {
    background-color: @surface1;
    padding: 2px 5px;
}

/* ------ Custom Modules ------ */
#custom-warp {
    color: @maroon;
    background-color: @surface1;
    padding: 2px 5px;
}

#custom-power {
    color: @red;
    background-color: @surface1;
}

#custom-arch {
    color: @blue;
    background-color: @surface1;
}

#custom-arch:hover {
    text-decoration: underline;
    color: @maroon;
}

#custom-r_end {
    border-radius: 0px 16px 16px 0px;
    margin-right: 7px;
    padding-right: 0px;
    background-color: @surface1;
}

#custom-l_end {
    border-radius: 16px 0px 0px 16px;
    margin-left: 7px;
    padding-left: 0px;
    background-color: @surface1;
}
